<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="BlogEngine">
      <section name="blogProvider" requirePermission="false" type="BlogEngine.Core.Providers.BlogProviderSection, BlogEngine.Core" allowDefinition="MachineToApplication" restartOnExternalChanges="true"/>
      <section name="blogFileSystemProvider" requirePermission="false" type="BlogEngine.Core.Providers.BlogFileSystemProviderSection, BlogEngine.Core" allowDefinition="MachineToApplication" restartOnExternalChanges="true"/>
      <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
    <!--<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />-->
  </configSections>
  <BlogEngine>
    <blogProvider defaultProvider="DbBlogProvider">
      <providers>
        <add description="Xml Blog Provider" name="XmlBlogProvider" type="BlogEngine.Core.Providers.XmlBlogProvider, BlogEngine.Core"/>
        <add connectionStringName="BlogEngine" description="Sql Database Provider" name="DbBlogProvider" type="BlogEngine.Core.Providers.DbBlogProvider, BlogEngine.Core"/>
      </providers>
    </blogProvider>
    <blogFileSystemProvider defaultProvider="XmlBlogProvider">
      <providers>
        <add description="Xml Blog Provider" name="XmlBlogProvider" type="BlogEngine.Core.Providers.XmlFileSystemProvider, BlogEngine.Core"/>
        <add storageVariable="BlogEngine" description="Sql Database Provider" name="DbBlogProvider" type="BlogEngine.Core.Providers.DbFileSystemProvider, BlogEngine.Core"/>
        <!--<add storageVariable="\\UNCPath\BlogFiles" description="UNC Path Provider" name="UNCBlogProvider" type="BlogEngine.Core.Providers.UNCFileSystemProvider, BlogEngine.Core" />-->
      </providers>
    </blogFileSystemProvider>
  </BlogEngine>
  <connectionStrings>
    <add name="" connectionString="Data Source=Server=DESKTOP-BDTCIJL\SQLEXPRESS;Database=admin_aafa;Integrated Security=true"/>
    <!--  <add name="support" connectionString="Data Source=localhost;port=3306;Initial Catalog=admin_image-app;User Id=admin-image-app;password=nFae@830" />
 <add name="BlogEngine" connectionString="Data Source=localhost;Initial Catalog=admin_aafa;User ID=admin_kfa;Password=Br_d9j54;persist security info=True;" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <appSettings lockAttributes="file">
    <!-- Set to WebForms causes some jQuery dependant scripts throw errors -->
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
    <add key="BlogEngine.FileExtension" value=".aspx"/>
    <!-- You can e.g. use "~/blog/" if BlogEngine.NET is not located in the root of the application -->
    <add key="BlogEngine.VirtualPath" value="~/"/>
    <!-- The regex used to identify mobile devices so a different theme can be shown -->
    <add key="BlogEngine.MobileDevices" value="(iemobile|iphone|ipod|android|nokia|sonyericsson|blackberry|samsung|sec\-|windows ce|motorola|mot\-|up.b|midp\-)"/>
    <!-- The name of the role with administrator permissions -->
    <add key="BlogEngine.AdminRole" value="Administrators"/>
    <!-- The name of the role for anonymous(non-authenticated) users. -->
    <add key="BlogEngine.AnonymousRole" value="Anonymous"/>
    <!-- The name of the role for Editors -->
    <add key="BlogEngine.EditorsRole" value="Editors"/>
    <!--This value is to provide an alternative location for storing data.-->
    <add key="StorageLocation" value="~/App_Data/"/>
    <!--This value is the folder name under the StorageLocation that data for blog instances will be stored in.-->
    <add key="BlogInstancesFolderName" value="blogs"/>
    <!--A comma separated list of script names to hard minify. It's case-sensitive. -->
    <add key="BlogEngine.HardMinify" value="blog.js,widget.js,WebResource.axd"/>
    <!--Any data grid in the admin panel should use this value for default number of items per page.-->
    <add key="BlogEngine.GenericPageSize" value="20"/>
    <!--Single Sign On Support.-->
    <add key="BlogEngine.SingleSignOn" value="false"/>
    <!--Sitemap schema URL.-->
    <add key="BlogEngine.SiteMapUrlSet" value="http://www.sitemaps.org/schemas/sitemap/0.9"/>
    <add key="webpages:Enabled" value="true"/>
  </appSettings>
  <system.serviceModel>
    <!--- added 7/21/15 -->
    <bindings>
      <webHttpBinding>
        <binding name="crossDomain" crossDomainScriptAccessEnabled="true"/>
      </webHttpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="AuthenticationServiceBehaviors" name="System.Web.ApplicationServices.AuthenticationService">
        <endpoint binding="basicHttpBinding" contract="System.Web.ApplicationServices.AuthenticationService"/>
      </service>
    </services>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"/>
    <behaviors>
      <serviceBehaviors>
        <behavior name="AuthenticationServiceBehaviors">
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <system.web.extensions>
    <scripting>
      <webServices>
        <authenticationService enabled="true" requireSSL="false"/>
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.data>
    <DbProviderFactories>
      <clear/>
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data,          Version=6.5.4.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"/>
      <remove invariant="System.Data.SqlServerCe.4.0"/>
      <add name="Microsoft SQL Server Compact Data Provider 4.0" invariant="System.Data.SqlServerCe.4.0" description=".NET Framework Data Provider for Microsoft SQL Server Compact" type="System.Data.SqlServerCe.SqlCeProviderFactory, System.Data.SqlServerCe, Version=4.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>
    </DbProviderFactories>
  </system.data>
  <system.web>
    <webServices>
      <protocols>
        <add name="HttpPost"/>
        <add name="HttpGet"/>
      </protocols>
    </webServices>
    <compilation targetFramework="4.5" debug="true">
      <assemblies>
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Drawing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Xml, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Net.Http, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Net.Http.WebRequest, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
      <!-- you may need it if you have issuew with razor/ajax in admin cshtml pages
      <buildProviders>
        <add extension=".cshtml" type="System.Web.WebPages.Razor.RazorBuildProvider, System.Web.WebPages.Razor"/>
      </buildProviders>
      -->
      <expressionBuilders>
        <add expressionPrefix="LinqLength" type="BlogEngine.Core.Compilation.LinqLengthExpressionBuilder, BlogEngine.Core"/>
        <add expressionPrefix="Reflect" type="BlogEngine.Core.Compilation.ReflectExpressionBuilder, BlogEngine.Core"/>
        <add expressionPrefix="Session" type="BlogEngine.Core.Compilation.SessionExpressionBuilder, BlogEngine.Core"/>
        <add expressionPrefix="Server" type="BlogEngine.Core.Compilation.ServerVariableExpressionBuilder, BlogEngine.Core"/>
        <add expressionPrefix="QueryString" type="BlogEngine.Core.Compilation.QueryStringExpressionBuilder, BlogEngine.Core"/>
        <add expressionPrefix="Code" type="BlogEngine.Core.Compilation.CodeExpressionBuilder, BlogEngine.Core"/>
      </expressionBuilders>
    </compilation>
    <globalization culture="af-ZA" uiCulture="af-ZA"/>
    <httpRuntime targetFramework="4.5" enableVersionHeader="false" useFullyQualifiedRedirectUrl="true" maxRequestLength="16384" executionTimeout="3600" requestLengthDiskThreshold="16384" requestValidationMode="2.0" requestPathInvalidCharacters="&lt;,&gt;,*,\"/>
    <machineKey validationKey="D9F7287EFDE8DF4CAFF79011D5308643D8F62AE10CDF30DAB640B7399BF6C57B0269D60A23FBCCC736FC2487ED695512BA95044DE4C58DC02C2BA0C4A266454C" decryptionKey="BDAAF7E00B69BA47B37EEAC328929A06A6647D4C89FED3A7D5C52B12B23680F4" validation="SHA1" decryption="AES"/>
    <!--<machineKey validationKey="AutoGenerate,IsolateApps" decryptionKey="AutoGenerate,IsolateApps" validation="SHA1" decryption="AES" />-->
    <authentication mode="Forms">
      <forms timeout="129600" name=".AUXBLOGENGINE" protection="All" slidingExpiration="true" loginUrl="~/Account/login.aspx" cookieless="UseCookies"/>
    </authentication>
    <pages enableSessionState="true" enableViewStateMac="true" enableEventValidation="true" controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID">
      <controls>
        <add namespace="App_Code.Controls" tagPrefix="blog"/>
      </controls>
    </pages>
    <customErrors defaultRedirect="~/error.aspx" mode="Off">
      <error statusCode="404" redirect="~/error404.aspx"/>
    </customErrors>
    <!--<trust level="Medium"/>-->
    <membership defaultProvider="XmlMembershipProvider">
      <providers>
        <clear/>
        <add name="XmlMembershipProvider" type="BlogEngine.Core.Providers.XmlMembershipProvider, BlogEngine.Core" description="XML membership provider" passwordFormat="Hashed"/>
        <!--<add name="SqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="BlogEngine" applicationName="BlogEngine" />
        <add name="DbMembershipProvider" type="BlogEngine.Core.Providers.DbMembershipProvider, BlogEngine.Core" passwordFormat="Hashed" connectionStringName="BlogEngine" />-->
      </providers>
    </membership>
    <roleManager defaultProvider="XmlRoleProvider" enabled="true" cacheRolesInCookie="false">
      <providers>
        <clear/>
        <add name="XmlRoleProvider" type="BlogEngine.Core.Providers.XmlRoleProvider, BlogEngine.Core" description="XML role provider"/>
        <!-- <add name="SqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="BlogEngine" applicationName="BlogEngine" />
        <add name="DbRoleProvider" type="BlogEngine.Core.Providers.DbRoleProvider, BlogEngine.Core" connectionStringName="BlogEngine" />-->
      </providers>
    </roleManager>
    <siteMap defaultProvider="PageSiteMap" enabled="true">
      <providers>
        <add name="PageSiteMap" description="The site map provider that reads in the .sitemap XML files." type="BlogEngine.Core.Web.Controls.PageSiteMap, BlogEngine.Core"/>
        <add name="SecuritySiteMap" description="Used for authenticated users." type="BlogEngine.Core.SecuritySiteMapProvider, BlogEngine.Core" securityTrimmingEnabled="true" siteMapFile="Web.sitemap"/>
      </providers>
    </siteMap>
    <httpModules>
      <add name="SafeMailLinkModule" type="CodeArchitects.SafeMailLink.SafeMailLinkModule, CodeArchitects.SafeMailLink"/>
      <add name="WwwSubDomainModule" type="BlogEngine.Core.Web.HttpModules.WwwSubDomainModule, BlogEngine.Core"/>
      <add name="UrlRewrite" type="BlogEngine.Core.Web.HttpModules.UrlRewrite, BlogEngine.Core"/>
      <add name="CompressionModule" type="BlogEngine.Core.Web.HttpModules.CompressionModule, BlogEngine.Core"/>
      <add name="ReferrerModule" type="BlogEngine.Core.Web.HttpModules.ReferrerModule, BlogEngine.Core"/>
      <add name="SecurityModule" type="BlogEngine.Core.Security, BlogEngine.Core"/>
      <add name="RightModule" type="BlogEngine.Core.Right, BlogEngine.Core"/>
      <!--Remove the default ASP.NET modules we don't need-->
      <remove name="PassportAuthentication"/>
      <remove name="Profile"/>
      <remove name="AnonymousIdentification"/>
    </httpModules>
    <httpHandlers>
      <add verb="*" path="file.axd" type="BlogEngine.Core.Web.HttpHandlers.FileHandler, BlogEngine.Core" validate="false"/>
      <add verb="*" path="image.axd" type="BlogEngine.Core.Web.HttpHandlers.ImageHandler, BlogEngine.Core" validate="false"/>
      <add verb="*" path="syndication.axd" type="BlogEngine.Core.Web.HttpHandlers.SyndicationHandler, BlogEngine.Core" validate="false"/>
      <add verb="*" path="sitemap.axd" type="BlogEngine.Core.Web.HttpHandlers.SiteMap, BlogEngine.Core" validate="false"/>
      <add verb="*" path="trackback.axd" type="BlogEngine.Core.Web.HttpHandlers.TrackbackHandler, BlogEngine.Core" validate="false"/>
      <add verb="*" path="pingback.axd" type="BlogEngine.Core.Web.HttpHandlers.PingbackHandler, BlogEngine.Core" validate="false"/>
      <add verb="*" path="opensearch.axd" type="BlogEngine.Core.Web.HttpHandlers.OpenSearchHandler, BlogEngine.Core" validate="false"/>
      <add verb="*" path="metaweblog.axd" type="BlogEngine.Core.API.MetaWeblog.MetaWeblogHandler, BlogEngine.Core" validate="false"/>
      <add verb="*" path="rsd.axd" type="BlogEngine.Core.Web.HttpHandlers.RsdHandler, BlogEngine.Core" validate="false"/>
      <!--<add verb="*" path="css.axd" type="BlogEngine.Core.Web.HttpHandlers.CssHandler, BlogEngine.Core" validate="false"/>-->
      <add verb="*" path="*.js.axd" type="BlogEngine.Core.Web.HttpHandlers.JavaScriptHandler, BlogEngine.Core" validate="false"/>
      <add verb="*" path="*.res.axd" type="BlogEngine.Core.Web.HttpHandlers.ResourceHandler, BlogEngine.Core" validate="false"/>
      <add verb="*" path="rating.axd" type="BlogEngine.Core.Web.HttpHandlers.RatingHandler, BlogEngine.Core" validate="false"/>
      <add verb="*" path="opml.axd" type="BlogEngine.Core.Web.HttpHandlers.OpmlHandler, BlogEngine.Core" validate="false"/>
      <add verb="*" path="blogml.axd" type="BlogEngine.Core.Web.HttpHandlers.BlogMLExportHandler, BlogEngine.Core" validate="false"/>
      <add verb="*" path="sioc.axd" type="BlogEngine.Core.Web.HttpHandlers.Sioc, BlogEngine.Core" validate="false"/>
      <add verb="*" path="apml.axd" type="BlogEngine.Core.Web.HttpHandlers.Apml, BlogEngine.Core" validate="false"/>
      <!--<add verb="*" path="foaf*.axd" type="BlogEngine.Core.Web.HttpHandlers.Foaf, BlogEngine.Core" validate="false"/>-->
      <add verb="*" path="*.htm" type="System.Web.StaticFileHandler"/>
    </httpHandlers>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <!-- Enable the staticContent section below to add Expires headers to images for better performance.
         Some hosting providers does not allow the staticContent section to be set. -->
    <!--
    <staticContent>
      <clientCache httpExpires="Sun, 29 Mar 2020 00:00:00 GMT" cacheControlMode="UseExpires" />
      <mimeMap fileExtension=".mp4" mimeType="video/mp4" />
    </staticContent>
    -->
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="WebDAVModule"/>
      <add name="WwwSubDomainModule" type="BlogEngine.Core.Web.HttpModules.WwwSubDomainModule, BlogEngine.Core"/>
      <add name="UrlRewrite" type="BlogEngine.Core.Web.HttpModules.UrlRewrite, BlogEngine.Core"/>
      <add name="CompressionModule" type="BlogEngine.Core.Web.HttpModules.CompressionModule, BlogEngine.Core"/>
      <add name="ReferrerModule" type="BlogEngine.Core.Web.HttpModules.ReferrerModule, BlogEngine.Core"/>
      <add name="SecurityModule" type="BlogEngine.Core.Security, BlogEngine.Core"/>
      <add name="RightModule" type="BlogEngine.Core.Right, BlogEngine.Core"/>
    </modules>
    <handlers accessPolicy="Read, Write, Script, Execute">
      <add name="FileHandler" verb="*" path="file.axd" type="BlogEngine.Core.Web.HttpHandlers.FileHandler, BlogEngine.Core" resourceType="Unspecified" requireAccess="Script" preCondition="integratedMode"/>
      <add name="ImageHandler" verb="*" path="image.axd" type="BlogEngine.Core.Web.HttpHandlers.ImageHandler, BlogEngine.Core" resourceType="Unspecified" requireAccess="Script" preCondition="integratedMode"/>
      <add name="Syndication" verb="*" path="syndication.axd" type="BlogEngine.Core.Web.HttpHandlers.SyndicationHandler, BlogEngine.Core" resourceType="Unspecified" requireAccess="Script" preCondition="integratedMode"/>
      <add name="Sitemap" verb="*" path="sitemap.axd" type="BlogEngine.Core.Web.HttpHandlers.SiteMap, BlogEngine.Core" resourceType="Unspecified" requireAccess="Script" preCondition="integratedMode"/>
      <add name="Trackback" verb="*" path="trackback.axd" type="BlogEngine.Core.Web.HttpHandlers.TrackbackHandler, BlogEngine.Core" resourceType="Unspecified" requireAccess="Script" preCondition="integratedMode"/>
      <add name="Pingback" verb="*" path="pingback.axd" type="BlogEngine.Core.Web.HttpHandlers.PingbackHandler, BlogEngine.Core" resourceType="Unspecified" requireAccess="Script" preCondition="integratedMode"/>
      <add name="OpenSearch" verb="*" path="opensearch.axd" type="BlogEngine.Core.Web.HttpHandlers.OpenSearchHandler, BlogEngine.Core" resourceType="Unspecified" requireAccess="Script" preCondition="integratedMode"/>
      <add name="MetaWeblog" verb="*" path="metaweblog.axd" type="BlogEngine.Core.API.MetaWeblog.MetaWeblogHandler, BlogEngine.Core" resourceType="Unspecified" requireAccess="Script" preCondition="integratedMode"/>
      <add name="RSD" verb="*" path="rsd.axd" type="BlogEngine.Core.Web.HttpHandlers.RsdHandler, BlogEngine.Core" resourceType="Unspecified" requireAccess="Script" preCondition="integratedMode"/>
      <!--<add name="CssHandler" verb="*" path="css.axd" type="BlogEngine.Core.Web.HttpHandlers.CssHandler, BlogEngine.Core" resourceType="Unspecified" requireAccess="Script" preCondition="integratedMode"/>-->
      <add name="WebResource" path="*.js.axd" verb="*" type="BlogEngine.Core.Web.HttpHandlers.JavaScriptHandler, BlogEngine.Core" resourceType="Unspecified" requireAccess="Script" preCondition="integratedMode"/>
      <add name="Resource" verb="*" path="*.res.axd" type="BlogEngine.Core.Web.HttpHandlers.ResourceHandler, BlogEngine.Core" resourceType="Unspecified" requireAccess="Script" preCondition="integratedMode"/>
      <add name="Rating" verb="*" path="rating.axd" type="BlogEngine.Core.Web.HttpHandlers.RatingHandler, BlogEngine.Core" resourceType="Unspecified" requireAccess="Script" preCondition="integratedMode"/>
      <add name="Opml" verb="*" path="opml.axd" type="BlogEngine.Core.Web.HttpHandlers.OpmlHandler, BlogEngine.Core" resourceType="Unspecified" requireAccess="Script" preCondition="integratedMode"/>
      <add name="BlogML" verb="*" path="blogml.axd" type="BlogEngine.Core.Web.HttpHandlers.BlogMLExportHandler, BlogEngine.Core" resourceType="Unspecified" requireAccess="Script" preCondition="integratedMode"/>
      <add name="SIOC" verb="*" path="sioc.axd" type="BlogEngine.Core.Web.HttpHandlers.Sioc, BlogEngine.Core" resourceType="Unspecified" requireAccess="Script" preCondition="integratedMode"/>
      <add name="Apml" verb="*" path="apml.axd" type="BlogEngine.Core.Web.HttpHandlers.Apml, BlogEngine.Core" resourceType="Unspecified" requireAccess="Script" preCondition="integratedMode"/>
      <add name="Foaf" verb="*" path="foaf*.axd" type="BlogEngine.Core.Web.HttpHandlers.Foaf, BlogEngine.Core" resourceType="Unspecified" requireAccess="Script" preCondition="integratedMode"/>
      <add name="Html" path="*.htm" verb="*" type="System.Web.StaticFileHandler" resourceType="Unspecified" preCondition="integratedMode"/>
      <add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <remove name="OPTIONSVerbHandler"/>
      <remove name="TRACEVerbHandler"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
    <rewrite>
      <rules>
        <clear/>
        <rule name="Redirect to WWW" enabled="true">
          <match url="(.*)"/>
          <conditions>
            <add input="{HTTP_HOST}" negate="true" pattern="^www\.([.a-zA-Z0-9]+)$"/>
          </conditions>
          <action type="Redirect" url="http://www.{HTTP_HOST}/{R:0}" appendQueryString="true" redirectType="Permanent"/>
        </rule>
        <rule name="RemoveTrailingDots" stopProcessing="false">
          <match url="^(.*[^.])\.+$"/>
          <action type="Rewrite" url="{R:1}"/>
        </rule>
        <rule name="Redirect rule1 for redirects">
          <match url=".*"/>
          <conditions>
            <add input="{redirects:{REQUEST_URI}}" pattern="(.+)"/>
          </conditions>
          <action type="Redirect" url="{C:1}" appendQueryString="false"/>
        </rule>
        <rule name="Redirect rule1 for general">
          <match url=".*"/>
          <conditions>
            <add input="{general:{REQUEST_URI}}" pattern="(.+)"/>
          </conditions>
          <action type="Redirect" url="{C:1}" appendQueryString="false"/>
        </rule>
        <rule name="Rewrite rule1 for awareness">
          <match url=".*"/>
          <conditions>
            <add input="{awareness:{REQUEST_URI}}" pattern="(.+)"/>
          </conditions>
          <action type="Rewrite" url="{C:1}" appendQueryString="false"/>
        </rule>
        <rule name="Redirect rule1 for Tackleasthma">
          <match url=".*"/>
          <conditions>
            <add input="{Tackleasthma:{REQUEST_URI}}" pattern="(.+)"/>
          </conditions>
          <action type="Redirect" url="{C:1}" appendQueryString="false"/>
        </rule>
        <rule name="Redirect rule1 for research">
          <match url=".*"/>
          <conditions>
            <add input="{research:{REQUEST_URI}}" pattern="(.+)"/>
          </conditions>
          <action type="Redirect" url="{C:1}" appendQueryString="false"/>
        </rule>
        <rule name="Redirect rule1 for pcori">
          <match url=".*"/>
          <conditions>
            <add input="{pcori:{REQUEST_URI}}" pattern="(.+)"/>
          </conditions>
          <action type="Redirect" url="{C:1}" appendQueryString="false"/>
        </rule>
        <rule name="Redirect rule1 for badredirects">
          <match url=".*"/>
          <conditions>
            <add input="{badredirects:{REQUEST_URI}}" pattern="(.+)"/>
          </conditions>
          <action type="Redirect" url="{C:1}" appendQueryString="false"/>
        </rule>
        <rule name="test pattern" stopProcessing="true">
          <match url="^(/page/asthma-capitals.aspx)"/>
          <action type="Redirect" url="/page/asthma-capitals.aspx"/>
        </rule>
        <rule name="google-webmaster-2" stopProcessing="true">
          <match url="^(/page/allergies.aspx)"/>
          <action type="Redirect" url="/page/allergies.aspx"/>
        </rule>
        <rule name="Redirect rule1 for media">
          <match url=".*"/>
          <conditions>
            <add input="{media:{REQUEST_URI}}" pattern="(.+)"/>
          </conditions>
          <action type="Redirect" url="{C:1}" appendQueryString="false"/>
        </rule>
        <rule name="Redirect rule1 for ame" stopProcessing="true">
          <match url=".*"/>
          <conditions>
            <add input="{ame:{REQUEST_URI}}" pattern="(.+)"/>
          </conditions>
          <action type="Redirect" url="{C:1}" appendQueryString="false"/>
        </rule>
      </rules>
      <rewriteMaps>
        <remove name="redirects"/>
        <rewriteMap name="redirects">
          <add key="/advocacy/" value="http://www.aafa.org/page/advocacy.aspx"/>
          <add key="/advocacy" value="http://www.aafa.org/page/advocacy.aspx"/>
          <add key="/certified" value="http://www.asthmaandallergyfriendly.com/USA/"/>
          <add key="/certified/" value="http://www.asthmaandallergyfriendly.com/USA/"/>
          <add key="/AMEO" value="http://www.aafa.org/page/continuing-education-for-health-care-professionals.aspx"/>
          <add key="/AME-O" value="http://www.aafa.org/page/continuing-education-for-health-care-professionals.aspx"/>
          <add key="/ameo/" value="http://www.aafa.org/page/continuing-education-for-health-care-professionals.aspx"/>
          <add key="/awarenessmonth/" value="http://www.aafa.org/page/asthma-and-allergy-awareness-month.aspx"/>
          <add key="/awarenessmonth" value="http://www.aafa.org/page/asthma-and-allergy-awareness-month.aspx"/>
          <add key="/WeeBreathers" value="http://www.aafa.org/page/asthma-allergy-education-programs-teach-patients.aspx"/>
          <add key="/WeeBreathers/" value="http://www.aafa.org/page/asthma-allergy-education-programs-teach-patients.aspx"/>
          <add key="/certified." value="http://www.asthmaandallergyfriendly.com/USA/"/>
          <add key="/page/asthma-during-pregnency.aspx" value="/page/asthma-during-pregnancy.aspx"/>
          <add key="/donate-now" value="https://secure.aafa.org/np/clients/aafa/donation.jsp?campaign=45&amp;&amp;test=true"/>
          <add key="/donate-now/" value="https://secure.aafa.org/np/clients/aafa/donation.jsp?campaign=45&amp;&amp;test=true"/>
          <add key="/page/spring-allergy-capitals.aspx" value="/page/allergy-capitals.aspx"/>
          <add key="/page/map.aspx" value="/page/state-honor-roll.aspx"/>
          <add key="/page/allergy-intervention-because-allergies-arent-funny.aspx" value="/page/awareness-campaigns.aspx"/>
          <add key="/MI-ame" value="https://secure.aafa.org/np/clients/aafa/eventRegistration.jsp?event=46&amp;"/>
          <add key="/ame-mi" value="https://secure.aafa.org/np/clients/aafa/eventRegistration.jsp?event=46&amp;"/>
          <add key="/store" value="https://secure.aafa.org/np/clients/aafa/giftstore.jsp"/>
          <add key="/donate" value="https://secure.aafa.org/np/clients/aafa/donation.jsp?campaign=45&amp;&amp;test=true"/>
          <add key="/athletes" value="https://secure.aafa.org/np/clients/aafa/publicFundraiserList.jsp?campaignId=135&amp;&amp;test=true"/>
          <add key="/kathy" value="https://secure.aafa.org/aafakathyp"/>
          <add key="/fundraise" value="/page/fundraise-for-aafa.aspx"/>
          <add key="/kathyp" value="https://secure.aafa.org/aafakathyp"/>
          <add key="/events" value="http://www.stridesforsafekids.org"/>
          <add key="/news" value="/page/asthma-allergy-news.aspx"/>
          <add key="/playin" value="http://action.momscleanairforce.org/ea-action/action?ea.client.id=1711&amp;ea.campaign.id=62914&amp;ea.tracking.id=AAFA"/>
          <add key="/guide" value="https://secure.aafa.org/np/clients/aafa/product.jsp?product=76&amp;"/>
          <add key="/page/ask-the-allergist.aspx" value="https://secure.aafa.org/np/clients/aafa/survey.jsp?surveyId=19&amp;"/>
          <add key="/ask" value="https://secure.aafa.org/np/clients/aafa/survey.jsp?surveyId=19&amp;"/>
          <add key="/page/ask-the-allergist.aspx%20class=" value="https://secure.aafa.org/np/clients/aafa/survey.jsp?surveyId=19&amp;"/>
          <add key="/groups" value="http://www.aafa.org/page/aafa-affiliated-asthma-allergy-support-groups.aspx"/>
          <add key="/asthma-audio" value="http://kidswithfoodallergies.engine.adglare.net/c?cID=692271866&amp;crID=263101315&amp;zID=597127811&amp;domain=aafa.org&amp;h=pefunwk-1500579659&amp;tk=2787502926&amp;u=aHR0cDovL3d3dy5wYXRpZW50dGFsa3BvaW50cy5jb20vcGVkaWF0cmljLWFzdGhtYS8"/>
          <add key="/Spanish" value="http://www.aafa.org/page/spanish-resources.aspx"/>
          <add key="/school" value="http://www.aafa.org/page/managing-asthma-in-school.aspx"/>
        </rewriteMap>
        <rewriteMap name="general">
          <add key="http://www.aafa.org/page/awareness-tools.aspx" value="http://www.aafa.org/page/asthma-and-allergy-awareness-month.aspx"/>
        </rewriteMap>
        <rewriteMap name="badredirects">
          <add key="/page/insect-allergy.aspxcont...%3C/a%3E&amp;" value="/page/insect-allergy.aspx"/>
          <add key="/page/allergy-treatments.aspxAllergy" value="/page/allergy-treatments.aspx"/>
          <add key="/page/state-honor" value="/page/state-honor-roll.aspx"/>
          <add key="/page/awareness-campa" value="/page/awareness-campaigns.aspx"/>
          <add key="/product_&amp;" value="/"/>
          <add key="/;sub=28&amp;" value="/"/>
          <add key="/.cfm?id=8&amp;sub=42" value="/"/>
          <add key="/_blank" value="/"/>
          <add key="/displa" value="/"/>
          <add key="/page/types-of-allergies.aspxcon..&amp;" value="/page/types-of-allergies.aspx"/>
          <add key="/am&amp;" value="/"/>
          <add key="/http://www.asthmaandallergyfriendly.com/" value="http://www.asthmaandallergyfriendly.com/"/>
          <add key="/media/AAFA-Today-Show-Letter-Official.pdf_2" value="/media/AAFA-Today-Show-Letter-Official.pdf"/>
          <add key="/media/Anaphylaxis-in-America-JACI-Article-2014.pdf_2" value="/media/Anaphylaxis-in-America-JACI-Article-2014.pdf"/>
          <add key="/media/AAFA-Today-Show-Letter-Official.pdf_1" value="/media/AAFA-Today-Show-Letter-Official.pdf"/>
          <add key="/media/Asthma-Capitals-Report-2015-Rankings" value="/media/Asthma-Capitals-Report-2015-Rankings.pdf"/>
          <add key="/media/Spring-Allergy-Capitals" value="/media/Spring-Allergy-Capitals-2016-Rankings.pdf"/>
          <add key="/display.cfm&gt;" value="/"/>
          <add key="/page/exercise-induced-" value="/page/exercise-induced-asthma.aspx"/>
          <add key="/media/Spring-Allergy-Capitals.pdf" value="/media/Spring-Allergy-Capitals-2016-Rankings.pdf"/>
          <add key="/video/WatchSpringAllergyPodcast.cfm" value="/page/allergy-capitals.aspx"/>
          <add key="/media/" value="/"/>
          <add key="/amp=&amp;amp=&amp;" value="/"/>
          <add key="/amp;sub=103&amp;" value="/"/>
          <add key="/m/media/Anaphylaxis-in-America-Letter-to-Editor.pdf" value="/media/Anaphylaxis-in-America-Letter-to-Editor.pdf"/>
          <add key="/pdfs/FINAL%2520public%2520LIST%2520Spring_2015%2520Updated.pdf" value="/media/Spring-Allergy-Capitals-2016-Rankings.pdf"/>
          <add key="/page/asthama" value="/page/asthma.aspx"/>
          <add key="/page/burden" value="/page/burden-of-asthma-on-minorities.aspx"/>
          <add key="/equals;5&amp;equals;105&amp;equals;649&amp;" value="/"/>
          <add key="/-sub=92&amp;-cont=529&amp;" value="/"/>
          <add key="/show.cfm?id=9&amp;sub=19&amp;cont=267" value="/"/>
          <add key="/National" value="/"/>
          <add key="/in" value="/"/>
          <add key="/page/virgina-state-honor-roll.aspx" value="/page/virginia-state-honor-roll.aspx"/>
          <add key="/page/west-virgina-state-honor-roll.aspx" value="/page/west-virginia-state-honor-roll.aspx"/>
          <add key="/states/index.cfm" value="/page/state-honor-roll.aspx"/>
          <add key="/disp" value="/"/>
          <add key="/page/forida-state-honor-roll.aspx" value="/page/florida-state-honor-roll.aspx"/>
          <add key="/dnn/NPDSPoisonData/" value="/"/>
          <add key="/dis" value="/"/>
          <add key="/cont-347&amp;" value="/"/>
          <add key="/cont..&amp;" value="/"/>
          <add key="/page/types" value="/page/types-of-allergies.aspx"/>
          <add key="/page/social" value="/page/social-media-tools.aspx"/>
          <add key="/mc=NzAyMTYyNDQ.&amp;email=_!TJQZ%5CQO(PW%5CUIQTtKWU&amp;ct=78674&amp;" value="/"/>
          <add key="/pdfs/final%2520public%2520list%2520spring_2015%2520updated.pdf.html" value="/"/>
          <add key="/eye" value="/page/eye-allergy-conjunctivitis.aspx"/>
          <add key="/m/" value="/"/>
          <add key="/page/allergy-treatments.aspx." value="/page/allergy-treatments.aspx"/>
          <add key="/page/statehonorroll.aspx" value="/page/state-honor-roll.aspx"/>
          <add key="/getajump" value="/"/>
          <add key="/page/allerg...%3C/div%3E%3Cdiv%3EPublished:%20%3Cspan%20class=" value="/page/allergies.aspx"/>
          <add key="/mailto:info@aafa.org" value="/page/asthma-capitals.aspx"/>
          <add key="/sitemap-index.xml" value="/sitemap.axd"/>
          <add key="/page/certified-asthma-" value="/page/certified-asthma-allergy-friendly.aspx"/>
          <add key="/target&amp;" value="/"/>
          <add key="/do" value="/"/>
          <add key="/d" value="/"/>
          <add key="/page/heather-k-jones" value="/"/>
          <add key="/m/page/allergy-intervention-because-allergies-arent-funny.aspx" value="/page/allergy-intervention-because-allergies-arent-funny.aspx"/>
          <add key="/page/events.aspx" value="https://community.aafa.org/calendar"/>
          <add key="/page/exercise" value="/page/exercise-induced-asthma.aspx"/>
          <add key="/eczema_center/" value="/page/eczema.aspx"/>
          <add key="/sitemap" value="/sitemap.axd"/>
          <add key="/sitemap-index.xml.gz" value="/sitemap.axd"/>
          <add key="/page/cost-" value="/page/cost-of-asthma-on-society.aspx"/>
        </rewriteMap>
        <rewriteMap name="awareness">
          <add key="http://www.aafa.org/page/awareness-tools.aspx" value="http://www.aafa.org/page/asthma-and-allergy-awareness-month.aspx"/>
        </rewriteMap>
        <rewriteMap name="Tackleasthma">
          <add key="http://www.aafa.org/tackle" value="https://secure.kidswithfoodallergies.org/np/clients/kidswfa/donation.jsp?campaign=54&amp;&amp;test=true"/>
          <add key="http://www.aafa.org/tackle/" value="https://secure.kidswithfoodallergies.org/np/clients/kidswfa/donation.jsp?campaign=54&amp;&amp;test=true"/>
        </rewriteMap>
        <rewriteMap name="research">
          <add key="http://www.aafa.org/registry" value="https://research.kidswithfoodallergies.org/"/>
          <add key="http://www.aafa.org/demo" value="https://research.kidswithfoodallergies.org/demo"/>
        </rewriteMap>
        <rewriteMap name="pcori">
          <add key="http://www.aafa.org/tn" value="https://secure.aafa.org/np/clients/aafa/survey.jsp?surveyId=11&amp;amp;/survey.jsp?surveyId=15&amp;"/>
          <add key="http://www.aafa.org/tn/" value="https://secure.aafa.org/np/clients/aafa/survey.jsp?surveyId=11&amp;amp;/survey.jsp?surveyId=15&amp;"/>
        </rewriteMap>
        <rewriteMap name="urls">
          <add key="http://legacy.aafa.org" value="/"/>
          <add key="/page/event.aspx" value="https://community.aafa.org/calendar"/>
        </rewriteMap>
        <rewriteMap name="media">
          <add key="/media/AAFA-Letter-Allergy-Asthma-Caucus-Rep.-Engel.pdf" value="/media/AAFA-Letter-Allergy-Asthma-Caucus-Rep-Engel.pdf"/>
          <add key="/media/AAFA-Comments-FDA-Allergenic-Products-Advisory-Committee.pdf" value="/media/FDA-Allergenic-Products-Advisory-Committee.pdf"/>
          <add key="/video/WatchSpringAllergyPodcast.cfm" value="/page/allergy-capitals.aspx"/>
          <add key="/media/Ally-&amp;-Andy" value="/media/Ally-&amp;-Andy%27s-Awesome-Asthma-and-Allergy-Activity-Booklet.pdf"/>
          <add key="/media/CMMI-Medicare" value="/media/CMMI-Medicare-Part-B-Sign-On-Letter.pdf"/>
          <add key="/media/Anaphylaxis-in-America-JACI-Article-2014.pdf_1" value="/media/Anaphylaxis-in-America-JACI-Article-2014.pdf"/>
          <add key="/media/Wee-Breathers-Asthma-Friendly-Home-Checklist-f" value="/media/Wee-Breathers-Home-Checklist.pdf"/>
          <add key="/media/Wee-Breathers-Lesson-4-Handouts-Spanish.pdfn" value="/media/Wee-Breathers-Lesson-4-Handouts-Spanish.pdf"/>
          <add key="/media/SHR-Full-Report-2015" value="/media/SHR-Full-Report-2015.pdf"/>
          <add key="/media/2016-Declaration-Health-" value="/media/2016-Declaration-Health-Climate-Change.pdf"/>
          <add key="/media/AAFA-Letter-Family-Asthma-" value="/media/AAFA-Letter-Family-Asthma-Act-May-15-2015.pdf"/>
          <add key="/media/Anaphylaxis-Emergency-Action-Plan.pdf;" value="/media/Anaphylaxis-Emergency-Action-Plan.pdf"/>
          <add key="/media/MAPRx-Coalition-Letter-to-MedPAC" value="/media/MAPRx-Coalition-Letter-to-MedPAC.pdf"/>
          <add key="/media/Spring-Allergy-Capitals-2" value="/media/Spring-Allergy-Capitals-2016-Rankings.pdf"/>
          <add key="/media/Spring-" value="/media/Spring-Allergy-Capitals-2016-Rankings.pdf"/>
          <add key="/media/Ethnic-Disparities-Burden-Treatm" value="/media/Ethnic-Disparities-Burden-Treatment-Asthma-Report.pdf"/>
          <add key="/mobile/media/Anaphylaxis-Emergency-Action-Plan.pdf" value="/media/Anaphylaxis-Emergency-Action-Plan.pdf"/>
          <add key="/m/media/AAFA-Support-Group-Affiliation-Guide.pdf" value="/media/AAFA-Support-Group-Affiliation-Guide.pdf"/>
          <add key="/mobile/media/SHR-Spotlight-B-Community-EMS-Anaphylaxis-2012.pdf" value="/media/SHR-Spotlight-B-Community-EMS-Anaphylaxis-2012.pdf"/>
          <add key="/m/media/SHR-Spotlight-B-Community-EMS-Anaphylaxis-2012.pdf" value="/media/SHR-Spotlight-B-Community-EMS-Anaphylaxis-2012.pdf"/>
          <add key="/mobile/media/AAFA-Support-Group-Affiliation-Guide.pdf" value="/media/AAFA-Support-Group-Affiliation-Guide.pdf"/>
          <add key="/mobile/media/Health-Organizations-Oppose-H.R.%205.pdf" value="/media/Health-Medical-Groups-Comments-Proposed-LDV-Determination.pdf"/>
          <add key="/media/AAFA-Comments-ICER-Mepolizumab-Asthma-Draft-Report.pdf" value="/media/AAFA-ICER-Comments-Cover-Letter.pdf"/>
          <add key="/media/Ally" value="/media/Ally-%26-Andy%27s-Awesome-Asthma-and-Allergy-Activity-Booklet.pdf"/>
          <add key="/media/Extreme-" value="/media/Extreme-Allergies-Global-Warming-Report-2010.pdf"/>
          <add key="/media/Asthma" value="/media/Asthma-Capitals-Report-2015-Rankings.pdf"/>
          <add key="/media/Ready-Set-Go-With-Asthma-Exercise-Induced-Asthma-Presenter-Informa" value="/media/Ready-Set-Go-With-Asthma-Exercise-Induced-Asthma-Presenter-Information.pdf"/>
          <add key="/media/Ethnic-" value="/media/Ethnic-Disparities-Burden-Treatment-Asthma-Report.pdf"/>
          <add key="/media/Anaphylaxis-in-America-J" value="/media/Anaphylaxis-in-America-JACI-Article-2014.pdf"/>
          <add key="/media/Exercise-Induced-Asthma-P" value="http://www.aafa.org/media/Exercise-Induced-Asthma-Presentation.ppt"/>
          <add key="/media/Child-Care-Asthma-" value="/media/Child-Care-Asthma-Allergy-Action-Card.pdf"/>
          <add key="/media/AAFA-Amtrak" value="/media/AAFA-Amtrak-Pet-Policy-Comment.pdf"/>
          <add key="/media/FDA-Comments-Draft-Guidance" value="/media/FDA-Comments-Draft-Guidance-Industry-Compounding.pdf"/>
        </rewriteMap>
        <rewriteMap name="ame">
          <add key="http://www.aafa.org/NE-ame" value="https://secure.aafa.org/np/clients/aafa/survey.jsp?surveyId=11&amp;amp;/eventRegistration.jsp?event=15&amp;"/>
          <add key="http://www.aafa.org/NE-ame/" value="https://secure.aafa.org/np/clients/aafa/survey.jsp?surveyId=11&amp;amp;/eventRegistration.jsp?event=15&amp;"/>
          <add key="http://aafa.org/NE-ame" value="https://secure.aafa.org/np/clients/aafa/survey.jsp?surveyId=11&amp;amp;/eventRegistration.jsp?event=15&amp;"/>
        </rewriteMap>
      </rewriteMaps>
    </rewrite>
    <directoryBrowse enabled="false"/>
    <defaultDocument>
      <files>
        <clear/>
        <add value="index.php"/>
        <add value="Default.htm"/>
        <add value="Default.asp"/>
        <add value="index.htm"/>
        <add value="index.html"/>
        <add value="iisstart.htm"/>
        <add value="default.aspx"/>
      </files>
    </defaultDocument>
    <httpProtocol>
      <customHeaders>
        <clear/>
        <add name="X-Powered-By" value="ASP.NET"/>
      </customHeaders>
    </httpProtocol>
    <httpRedirect enabled="false" destination="http://www.aafa.org/" exactDestination="false" childOnly="false" httpResponseStatus="Permanent"/>
    <httpErrors errorMode="Custom">
      <remove statusCode="502" subStatusCode="-1"/>
      <remove statusCode="501" subStatusCode="-1"/>
      <remove statusCode="500" subStatusCode="-1"/>
      <remove statusCode="412" subStatusCode="-1"/>
      <remove statusCode="406" subStatusCode="-1"/>
      <remove statusCode="405" subStatusCode="-1"/>
      <remove statusCode="404" subStatusCode="-1"/>
      <remove statusCode="403" subStatusCode="-1"/>
      <remove statusCode="401" subStatusCode="-1"/>
      <error statusCode="407" path="C:\Inetpub\vhosts\kidswithfoodallergies.org\error_docs\proxy_authentication_required.html"/>
      <error statusCode="414" path="C:\Inetpub\vhosts\kidswithfoodallergies.org\error_docs\request-uri_too_long.html"/>
      <error statusCode="415" path="C:\Inetpub\vhosts\kidswithfoodallergies.org\error_docs\unsupported_media_type.html"/>
      <error statusCode="503" path="C:\Inetpub\vhosts\kidswithfoodallergies.org\error_docs\maintenance.html"/>
      <error statusCode="403" path="C:\Inetpub\vhosts\kidswithfoodallergies.org\error_docs\forbidden.html"/>
      <error statusCode="404" prefixLanguageFilePath="" path="C:\Inetpub\vhosts\kidswithfoodallergies.org\error_docs\not_found.html"/>
      <error statusCode="405" prefixLanguageFilePath="" path="C:\Inetpub\vhosts\kidswithfoodallergies.org\error_docs\method_not_allowed.html"/>
      <error statusCode="406" prefixLanguageFilePath="" path="C:\Inetpub\vhosts\kidswithfoodallergies.org\error_docs\not_acceptable.html"/>
      <error statusCode="412" prefixLanguageFilePath="" path="C:\Inetpub\vhosts\kidswithfoodallergies.org\error_docs\precondition_failed.html"/>
      <error statusCode="500" prefixLanguageFilePath="" path="C:\Inetpub\vhosts\kidswithfoodallergies.org\error_docs\internal_server_error.html" responseMode="File"/>
      <error statusCode="501" prefixLanguageFilePath="" path="C:\Inetpub\vhosts\kidswithfoodallergies.org\error_docs\not_implemented.html"/>
      <error statusCode="502" prefixLanguageFilePath="" path="C:\Inetpub\vhosts\kidswithfoodallergies.org\error_docs\bad_gateway.html"/>
      <error statusCode="401" path="/page/welcome_page.aspx" responseMode="Redirect"/>
    </httpErrors>
    <security>
      <requestFiltering>
        <filteringRules>
          <filteringRule name="SQLInjection" scanUrl="false" scanQueryString="true">
            <appliesTo>
              <clear/>
              <add fileExtension=".asp"/>
              <add fileExtension=".aspx"/>
              <add fileExtension=".php"/>
            </appliesTo>
            <denyStrings>
              <clear/>
              <add string="--"/>
              <add string=";"/>
              <add string="/*"/>
              <add string="char"/>
              <add string="alter"/>
              <add string="begin"/>
              <add string="cast"/>
              <add string="create"/>
              <add string="cursor"/>
              <add string="declare"/>
              <add string="delete"/>
              <add string="drop"/>
              <add string="end"/>
              <add string="exec"/>
              <add string="fetch"/>
              <add string="insert"/>
              <add string="kill"/>
              <add string="open"/>
              <add string="select"/>
              <add string="sys"/>
              <add string="table"/>
              <add string="update"/>
            </denyStrings>
            <scanHeaders>
              <clear/>
            </scanHeaders>
          </filteringRule>
        </filteringRules>
        <denyUrlSequences>
          <add sequence=".."/>
          <add sequence="ti.."/>
          <add sequence="title.."/>
          <add sequence="titl.."/>
          <add sequence="+"/>
          <add sequence=":"/>
          <add sequence="\"/>
        </denyUrlSequences>
        <verbs>
          <add verb="GET" allowed="true"/>
          <add verb="PUT" allowed="true"/>
          <add verb="POST" allowed="true"/>
        </verbs>
        <fileExtensions/>
      </requestFiltering>
    </security>
    <caching>
      <profiles>
        <add extension=".php" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange"/>
      </profiles>
    </caching>
    <staticContent>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="8.00:00:00"/>
    </staticContent>
    <!-- enables compression in IIS 7
    <urlCompression doDynamicCompression="true" doStaticCompression="true" dynamicCompressionBeforeCache="true"/>
    -->
    <!--<staticContent>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="365.00:00:00" cacheControlCustom="public" />
      <remove fileExtension=".ico" />
      <mimeMap fileExtension=".ico" mimeType="image/x-icon" />
      <mimeMap fileExtension=".woff" mimeType="font/x-woff" />
</staticContent>
    <httpErrors><error statusCode="400" path="C:\Inetpub\vhosts\kidswithfoodallergies.org\error_docs\bad_request.html" /><error statusCode="404" path="C:\Inetpub\vhosts\kidswithfoodallergies.org\error_docs\not_found.html" /><error statusCode="407" path="C:\Inetpub\vhosts\kidswithfoodallergies.org\error_docs\proxy_authentication_required.html" /><error statusCode="414" path="C:\Inetpub\vhosts\kidswithfoodallergies.org\error_docs\request-uri_too_long.html" /><error statusCode="415" path="C:\Inetpub\vhosts\kidswithfoodallergies.org\error_docs\unsupported_media_type.html" /><error statusCode="503" path="C:\Inetpub\vhosts\kidswithfoodallergies.org\error_docs\maintenance.html" /></httpErrors>-->
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <!--<entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>-->
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
</configuration>